<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Title</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>Web Engineering Project 2022 Spring Semester 6</h1>
    <ul style="font-size: 20px;">
        <li>Name: Muhammad Abdullah</li>
        <li>Roll Number: 19F-0916</li>
        <li>Project Title: Arabic Corpus</li>
        <li>Details: Corpus consist of textual data, that can be used for any reasearch purpose. This Corpus is based upon
            Arabic Language. It will consist of Arabic Books, Arabic Poems and almost all of the readable arabic data. This
            will provide meaning of the words, roots of the words and etc. </li>
    </ul>
    <br><br>
    <h3>Thank You For Your Time</h3>
</div>
</body>
</html>