.fields{
    font-family: sans-serif;
    padding-right: 70%;
}
.register{
    text-align: center;
    padding-right: 68%;
    padding-left: 68%;
    background-color: #eb3030;
    border-color: #eb3030;
    color: white;
    border-radius: 3px;
}
