.format{
  font-size: 30px;
  text-align: center;
  margin-top: 1%;
  margin-left: 5%;
}

.btn{
  font-size: 30px;
  text-align: center;
  margin-top: 1%;
}

.field{
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
}
